In [2]:
"I eat %s apples." % "three"

'I eat three apples.'

In [6]:
"I eat {0} apples" .format(3)
"I eat {0} apples" .format("three")

'I eat three apples'

In [8]:
num = 3
"I eat {0} apples" .format(num)

'I eat 3 apples'

In [9]:
number = 10
day = "three"
"I ate {0} apples. So I was sick for {1} days.".format(number, day)

'I ate 10 apples. So I was sick for three days.'

In [10]:
"I ate {n} apples, So I was sick for {d} days".format(n = 10, d = "three")

'I ate 10 apples, So I was sick for three days'

In [11]:
"I ate {0} apples, So I was sick for {d} days".format(10, d = "three")

'I ate 10 apples, So I was sick for three days'

In [17]:
"{0:<10}".format("hi")

'hi        '

In [19]:
"{0:>30}".format("hi")

'                            hi'

In [20]:
"{0:^10}".format("hi")

'    hi    '

In [21]:
"{0:=^10}".format("!")

'====!====='

In [22]:
"{0:!^20}".format(3)

'!!!!!!!!!3!!!!!!!!!!'

In [23]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [24]:
"{0:10.4f}".format(y)

'    3.4213'

In [27]:
"{{}}".format()

'{}'

In [28]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'
#가장 최신 문법 - format

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [29]:
age = 30
f'나는 내년이면 {age+1}살이 된다'

'나는 내년이면 31살이 된다'

In [35]:
d = {'name' : '홍길동', 'age' : 30}
f"나의 이름은 {d['name']}입니다. 나이는 {d['age']}입니다."

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [38]:
f'{"hi":<10}'

'hi        '

In [40]:
f'{"hi":-^10}'

'----hi----'

In [42]:
y = 3.42134234
f'{y:<10}'

'3.42134234'

In [43]:
f'{y:0.5f}'

'3.42134'

In [44]:
f'{{}}'

'{}'

## 문자 개수 세기(count)

In [47]:
a = "hobby"
a.count('b')

2

## 위치 알려주기 1(find)

In [48]:
a = "python is the best choice"
a.find('b')

14

In [49]:
a.find('k')
#존재하지 않으면 -1을 반환한다

-1

## 위치 알려주기 2(index)

In [50]:
a = "Life si too short"
a.index('t')
#먼저 나오는 위치를 반환

8

In [52]:
a.index('k')
#find와는 다르게 에러를 발생. 즉, 예외처리를 사용하기 위해서는 index

ValueError: substring not found

## 문자열 삽입 (join)

In [53]:
",".join('abcd')

'a,b,c,d'

In [54]:
",".join(['a','b','c','d'])

'a,b,c,d'

## 소문자를 대문자로 바꾸기 (upper)

In [55]:
a = "hi"
a.upper()

'HI'

## 대문자를 소문자로 바꾸기 (lower)

In [58]:
a = "HI"
a.lower()

'hi'

## 왼쪽, 오른쪽, 양쪽 공백 지우기 (lstrip, rstrip, strip)

In [59]:
a = " h i "
a.lstrip()

'h i '

In [61]:
a = " h i "
a.rstrip()

' h i'

In [62]:
a = " h i "
a.strip()

'h i'

## 문자열 바꾸기 (replace)

In [65]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

## 문자열 나누기 (split)

In [66]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [68]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

In [69]:
c = "a!v!dsfd!sdfdsfds"
c.split('!')

['a', 'v', 'dsfd', 'sdfdsfds']

##  리스트 자료형

In [70]:
odd = [1,3,5,7,9]

In [71]:
a = []
#empty list

In [72]:
b = [1,2,3]
c = ['Life', 'is', 'too', 'short']
d = [1,2,'Life','is']

## 리스트 인덱싱

In [73]:
a = [1,2,3]
a

[1, 2, 3]

In [74]:
a[0]

1

In [75]:
a[2]

3

In [76]:
a[0] + a[2]

4

In [77]:
a[-1]

3

In [79]:
a = [1, 2, 3, ['a','b','c']]

In [80]:
a[3]

['a', 'b', 'c']

In [81]:
a[-1]

['a', 'b', 'c']

In [82]:
a[-1][1]

'b'

In [83]:
a = [1,2,['a','b', ['Life', 'is']]]

In [84]:
a[2]

['a', 'b', ['Life', 'is']]

In [86]:
a[2][1]

'b'

In [87]:
a[3]

IndexError: list index out of range

In [88]:
a[2][2]

['Life', 'is']

In [89]:
a[2][2][1]

'is'

In [90]:
a[0:2]

[1, 2]

In [91]:
a= [1,2,3, ['a','b','c'],4,5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [92]:
a[3][:2]

['a', 'b']

## 리스트 연산

### 리스트 더하기 (+)

In [97]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

### 리스트 반복하기 (*)

In [98]:
a = [1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [99]:
len(a)

3

In [100]:
str(a[2]) + "hi"

'3hi'

## 리스트의 수정과 삭제

### 리스트에서 값 수정

In [101]:
a[2] =4
a

[1, 2, 4]

### del 함수 사용해 리스트 요소 삭제하기

In [102]:
del a[0]
a

[2, 4]

In [104]:
a = [1,2,3,4,5]
del a[:3]
a

[4, 5]

In [106]:
b = [1,2,3,4,5]
del b[2:]
b

[1, 2]

## 리스트 관련 함수

### 리스트에 요소 추가 (append)

In [107]:
a = [1,2,3]

In [108]:
a.append(4)

In [109]:
a

[1, 2, 3, 4]

In [110]:
a.append([5,6])

In [111]:
a

[1, 2, 3, 4, [5, 6]]

### 리스트 정렬 (sort)

In [115]:
a = [4,3,23,5,4,6,7,234,4,5]
a.sort()
a

[3, 4, 4, 4, 5, 5, 6, 7, 23, 234]

In [116]:
a= ['a','b','d','c']
a.sort()
a

['a', 'b', 'c', 'd']

### 리스트 뒤집기 (reverse)

In [117]:
a = ['a','b','c']
a.reverse()

In [118]:
a

['c', 'b', 'a']

### 위치 반환 (index)

In [119]:
a = [1,2,3]
a.index(3)

2

In [121]:
a.index(1)

0

### 리스트 요소 삽입 (insert)

In [122]:
a = [1,2,3]
a.insert(0,4)

In [123]:
a

[4, 1, 2, 3]

In [124]:
a.insert(1,12)
a

[4, 12, 1, 2, 3]

### 리스트 요소 제거 (remove)

In [130]:
a.remove(12)
a

[1, 2, 3]

In [131]:
a.insert(0,1)

In [132]:
a

[1, 1, 2, 3]

In [133]:
a.remove(1)

In [134]:
a

[1, 2, 3]

### 리스트 요소 끄집어내기 (pop)

In [135]:
a = [1,2,3]
a[2]

3

In [136]:
a

[1, 2, 3]

In [137]:
a.pop(1)

2

In [138]:
a

[1, 3]

### 리스트에 포함된 요소 x의 개수 세기 (count)

In [141]:
a = [1,2,3,4]
a.count(2)

1

### 리스트 확장 (extend)

In [142]:
a = [1,2,3,4]
a.extend([4,5])
a

[1, 2, 3, 4, 4, 5]

In [143]:
b = [34,23]
a.extend(b)

In [144]:
a

[1, 2, 3, 4, 4, 5, 34, 23]

## 튜플 자료형

In [145]:
tl = ()
t2 = (1,)
t3 = (1,2,3)
t4 = 1,2,3 #괄호를 치지 않아도 튜플로 인식한다
t5 = ('a','b',('ab','cd'))

### 튜플 요소값을 삭제하려 할 때

In [146]:
t1 = (1,2,'a','b')

In [147]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

### 튜플 요소값을 변경하려 할 때

In [149]:
t1 = (1,2,'a','b')
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

## 튜플 다루기

### 인덱싱 하기

In [150]:
t1 = (1,2,'a','b')

In [152]:
t1[3]

'b'

### 슬라이싱 하기

In [153]:
t1[1:]

(2, 'a', 'b')

### 튜플 더하기

In [154]:
t2 = (3,4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

### 튜플 곱하기

In [155]:
t1*3

(1, 2, 'a', 'b', 1, 2, 'a', 'b', 1, 2, 'a', 'b')

### 튜플 길이 구하기

In [156]:
len(t1)

4

## 딕셔너리 자료형

In [159]:
dic = {'name':'pey', 'phone':'010-1234-5567', 'birth':'0927'}

In [160]:
a = {1: 'hi'}

In [161]:
a = {'a' : [1,2,3]}

In [162]:
a = {1 : 'a'}
a[2] = 'b'

In [163]:
a

{1: 'a', 2: 'b'}

In [164]:
a[4] = 'v'

In [165]:
a

{1: 'a', 2: 'b', 4: 'v'}

In [166]:
a[3] = 1

In [167]:
a

{1: 'a', 2: 'b', 4: 'v', 3: 1}

### 딕셔너리 요소 삭제하기

In [168]:
del a[1]

In [169]:
a

{2: 'b', 4: 'v', 3: 1}

In [170]:
del a[3]

In [171]:
a

{2: 'b', 4: 'v'}

### 딕셔너리에서 key를 사용해 value 얻기

In [175]:
a = {1: 'a', 2: 'b'}

'a'

### 딕셔너리 만들 때 주의할 사항

In [176]:
a = {1 : 'a', 1 : 'b'}
a

{1: 'b'}

## 딕셔너리 관련 함수

### Key 리스트 만들기 (keys)

In [177]:
a = {'name' : 'pey', 'phone' : '0101231212', 'birth' : '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [178]:
for k in a.keys():
    print(k)

name
phone
birth

### value 리스트 만들기 (values)

In [183]:
a.values()

dict_values(['pey', '0101231212', '1118'])

### Key, Value 쌍 얻기 (items)

In [184]:
a.items()

dict_items([('name', 'pey'), ('phone', '0101231212'), ('birth', '1118')])

### key:value 쌍 모두 지우기 (clear)

In [185]:
a.clear()

In [186]:
a

{}

### Key로 Value 얻기 (get)

In [188]:
a = {'name' : 'pey', 'phone' : '0102301203', 'birth' : '1114'}
a.get('name')

'pey'

In [191]:
print(a.get('nam'))
print(a['nam'])

None

KeyError: 'nam'

In [192]:
a.get('foo','default')

'default'

### 해당 key가 딕셔너리 안에 있는지 조사하기 (in)

In [193]:
a = {'name' : 'pey', 'phone' : '0102301203', 'birth' : '1114'}
'name' in a

True

In [194]:
'email' in a

False

## 집합 자료형

In [195]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [196]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

#### 집합 자료형의 특징
##### 중복을 허용하지 않는다
##### 순서가 없다

In [197]:
s1 = set([1,2,3])
l1 = list(s1)
l1

[1, 2, 3]

In [198]:
t1 = tuple(s1)
t1

(1, 2, 3)

### 교집합, 합집합, 차집합 구하기

In [199]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

#### 교집합

In [200]:
s1 & s2

{4, 5, 6}

In [203]:
s1.intersection(s2)

{4, 5, 6}

#### 합집합

In [204]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [205]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

#### 차집합

In [208]:
s1 - s2

{1, 2, 3}

In [209]:
s2 - s1

{7, 8, 9}

In [210]:
s1.difference(s2)

{1, 2, 3}

In [211]:
s2.difference(s1)

{7, 8, 9}

## 집합 자료형 관련 함수

### 값 1개 추가하기 (add)

In [212]:
s1 = set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

### 값 여러 개 추가하기 (update)

In [213]:
s1 = set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

### 특정 값 제거하기 (remove)

In [214]:
s1 =  set([1,2,3])
s1.remove(2)

In [216]:
s1

{1, 3}

## 불 자료형

In [217]:
a = True

In [218]:
print(a)

True

In [219]:
print(type(a))

<class 'bool'>

In [220]:
b = False

In [221]:
1 ==1

True

In [222]:
1 == 2

False

In [223]:
2>1

True

In [224]:
2<1

False

In [226]:
a = [1,2,3,4]
while a: #103page에서 리스트가 비어있으면 거짓
    print(a.pop())

4
3
2
1

In [227]:
if [] :
    print('참')
else :
    print('거짓')

거짓

In [228]:
if [2,3,4]:
    print('TRUE')
else:
    print('FALSE')

TRUE

In [229]:
bool('')

False

In [230]:
bool('1')

True

In [231]:
bool(0) #0이 아닌 모든 숫자는 true이고 0은 false이다.

False

## 자료값의 값을 저장하는 공간, 변수

In [232]:
a = 1
b = 'python'
c = [1,2,3]

In [233]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'list'>

### 변수란?

In [257]:
a = [1,2,3]

In [258]:
id(a) #이 객체의 번지값

2529680027976

In [259]:
 b = a

In [260]:
print(id(a))
print(id(b))

2529680027976
2529680027976

In [261]:
a[2] =4

In [262]:
a

[1, 2, 4]

In [263]:
b

[1, 2, 4]

### 리스트 deep copy 방법

In [248]:
a = [1,2,3]
b = a[:]

In [249]:
print(id(a))
print(id(b))

2529696771784
2529696736072

In [250]:
a[2] = 4

In [251]:
a

[1, 2, 4]

In [252]:
b

[1, 2, 3]

In [254]:
from copy import copy

In [255]:
a = [1,2,3]
b = copy(a)

In [256]:
print(id(a))
print(id(b))

2529679893320
2529679894024

## 변수를 만드는 여러 가지 방법

In [264]:
a,b = ('python', 'life')

In [265]:
(a,b) = 'python', 'life'

In [266]:
[a,b] = ['pyton','life']

In [267]:
a= b= 'python'

In [268]:
a=3
b=5
a,b = b,a
print (a,b)

5 3

## if문

In [269]:
money = 3000
if money >3000:
    print("택시 타세요")
else:
    print("walk")

walk

In [270]:
money = 2000
card = True
if money >3000 or card:
    print("taxi")
else :
    print("walk")

taxi

In [271]:
1 in [1,2,3]

True

In [272]:
1 not in [1,2,3]

False

In [275]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    print("taxi")
else :
    print('walk')

taxi

In [281]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    print("taxi")
else :
    if 'card' in pocket:
        print('taxi')
    else:
        print('walk')

In [282]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    print("taxi")
elif "card" in pocket:
    print('taxi')
else:
    print("walk")

taxi

In [283]:
score = 80

if score >= 60:
    message = 'success'
else:
    message = 'failure'

In [284]:
message

'success'

In [285]:
message = 'success' if score >=60 else "failure"

In [286]:
message

'success'

## while문

In [290]:
tree= 0
while tree <10:
    tree = tree +1
    print("나무를 %d번 찍었습니다." %tree)
    if tree == 10:
        print("나무가 넘어갔습니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 넘어갔습니다.

In [291]:
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter number : """

In [292]:
prompt

'\n1. Add\n2. Del\n3. List\n4. Quit\n\nEnter number : '

In [293]:
print(prompt)

1. Add
2. Del
3. List
4. Quit

Enter number :

In [294]:
n = 0
while n != 4:
    print(prompt)
    n = int(input())

1. Add
2. Del
3. List
4. Quit

Enter number :
1

1. Add
2. Del
3. List
4. Quit

Enter number :
4

In [297]:
coffee = 10
money = 300
while money:
    print("돈을 받았으니 커피를 줍니다.")
    coffee = coffee -1
    money = money -50
    print("남은 커피의 양은 %d개 입니다." %coffee)
    print("남은 돈은 %d원 입니다." %money)
    if coffee == 0 or money ==0:
        print("남은 커피가 없습니다. 판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개 입니다.
남은 돈은 250원 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개 입니다.
남은 돈은 200원 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개 입니다.
남은 돈은 150원 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개 입니다.
남은 돈은 100원 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개 입니다.
남은 돈은 50원 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개 입니다.
남은 돈은 0원 입니다.
남은 커피가 없습니다. 판매를 중지합니다.

## while문 맨 처음으로 돌아가기

In [1]:
a = 0
while a < 10:
    a = a+1
    if a % 2 == 0 : 
        continue
    print(a)

1
3
5
7
9

## for문

In [2]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [5]:
a = (1,2,3)
a = a+(4,)
print(a)

(1, 2, 3, 4)

In [6]:
test_list = [(1,2),(3,4),(5,6)]
for (first, last) in test_list:
    print(first + last)

3
7
11

In [8]:
marks = [90, 25,67,45,80]
number = 0
for mark in marks:
    number = number +1
    if mark >= 60:
        print("%d번 학생은 합격입니다." %number)
    else:
        print("%d번 학생은 불합격입니다." %number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [10]:
marks = [90, 25,67,45,80]
number = 0
for mark in marks:
    number = number +1
    if mark < 60:
        continue
    print("%d번 학생은 합격입니다." %number)

1번 학생은 합격입니다.
3번 학생은 합격입니다.
5번 학생은 합격입니다.

### range

In [11]:
a = range(10)
a

range(0, 10)

In [12]:
a = range(1,10)
a

range(1, 10)

In [14]:
add = 0
for i in range(1,11):
    add = add +i
print(add)

55

In [15]:
add = 0
for i in range(10):
    add = add +i +1
print(add)

55

In [18]:
marks = [90,25,67,45,80]
for number in range(len(marks)):
    if marks[number] <60 :
        continue
    else :
        print("%d 학생은 합격입니다." %(number+1))

1 학생은 합격입니다.
3 학생은 합격입니다.
5 학생은 합격입니다.

In [25]:
for i in range(2,10):
    for j in range(1,10):
        print("%2d x %2d = %2d" %(i,j,i*j), end = ' ')
    print(" ")

 2 x  1 =  2  2 x  2 =  4  2 x  3 =  6  2 x  4 =  8  2 x  5 = 10  2 x  6 = 12  2 x  7 = 14  2 x  8 = 16  2 x  9 = 18
 3 x  1 =  3  3 x  2 =  6  3 x  3 =  9  3 x  4 = 12  3 x  5 = 15  3 x  6 = 18  3 x  7 = 21  3 x  8 = 24  3 x  9 = 27
 4 x  1 =  4  4 x  2 =  8  4 x  3 = 12  4 x  4 = 16  4 x  5 = 20  4 x  6 = 24  4 x  7 = 28  4 x  8 = 32  4 x  9 = 36
 5 x  1 =  5  5 x  2 = 10  5 x  3 = 15  5 x  4 = 20  5 x  5 = 25  5 x  6 = 30  5 x  7 = 35  5 x  8 = 40  5 x  9 = 45
 6 x  1 =  6  6 x  2 = 12  6 x  3 = 18  6 x  4 = 24  6 x  5 = 30  6 x  6 = 36  6 x  7 = 42  6 x  8 = 48  6 x  9 = 54
 7 x  1 =  7  7 x  2 = 14  7 x  3 = 21  7 x  4 = 28  7 x  5 = 35  7 x  6 = 42  7 x  7 = 49  7 x  8 = 56  7 x  9 = 63
 8 x  1 =  8  8 x  2 = 16  8 x  3 = 24  8 x  4 = 32  8 x  5 = 40  8 x  6 = 48  8 x  7 = 56  8 x  8 = 64  8 x  9 = 72
 9 x  1 =  9  9 x  2 = 18  9 x  3 = 27  9 x  4 = 36  9 x  5 = 45  9 x  6 = 54  9 x  7 = 63  9 x  8 = 72  9 x  9 = 81

### 리스트 내포(List comprehension) 사용하기

In [26]:
a = [1,2,3,4]
result = []
for num in a:
    result.append(num)
print(result)

[1, 2, 3, 4]

In [27]:
a = [1,2,3,4]
result = [num for num in a]
result

[1, 2, 3, 4]

In [28]:
a = [1,2,3,4]
result = [num*3 for num in a]
result

[3, 6, 9, 12]

In [29]:
a = [1,2,3,4]
result = [num for num in a if num %2 ==0]
result

[2, 4]

In [6]:
result = [x*y for x in range(2,10)
         for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [13]:
i = "{0:^5}".format('*')
a = 1
max = 5
while True:
    if a>5:
        break
    print("{0:^5}".format('*'*a))
    a = a+2

  *
 ***
*****

In [44]:
"{0:^%d}%5".format('*')

ValueError: Invalid format specifier