In [40]:
def sum_recur(n):
    if(n == 1):
        return 1
    
    return n + sum_recur(n-1)

def sum_iter(n):
    total = 0
    for i in range(n):
        total += i+1
        
    return total

In [41]:
print(sum_iter(15))
print(sum_recur(15))

120
120

In [42]:
def fibo(n):
    a = [1,1]
    for i in range(2,n+1):
        a.append(a[i-1]+a[i-2])
    return a

In [43]:
print(fibo(10))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [44]:
def fibo_int(n):
    temp0 = 1
    temp1 = 1
    total = 0
    
    for i in range(n-1):
        total = temp0 + temp1
        temp0 = temp1
        temp1 = total
    return total

In [45]:
print(fibo_int(10))

89

## 하노이의 탑

In [70]:
def Hanoi(n, fom, by, to):
    if(n == 1):
        print("%d : %s -> %s"%(n,fom,to))
        return 
    Hanoi(n-1,fom,to,by)
    print("%d : %s -> %s"%(n,fom,to))
    Hanoi(n-1,by,fom,to)

In [71]:
Hanoi(1,'a','b','c')
Hanoi(2,'a','b','c')

1 : a -> c
1 : a -> b
2 : a -> c
1 : b -> c

In [72]:
a= 1
b =2
print(b)

2

1 : a -> c
0